---
"hibp": minor
---

Add `generateDnsToken` and `verifyDnsToken` for domain verification through DNS.
