{
  "env": {
    "es": {
      "presets": [
        [
          "env",
          {
            "modules": false,
            "targets": {
              "browsers": [
                "> 1%",
                "last 2 versions"
              ],
              "node": 4
            }
          }
        ]
      ]
    },
    "commonjs": {
      "presets": [
        [
          "env",
          {
            "modules": "commonjs",
            "targets": {
              "browsers": [
                "> 1%",
                "last 2 versions"
              ],
              "node": 4
            }
          }
        ]
      ]
    },
    "test": {
      "plugins": [
        "istanbul"
      ],
      "presets": [
        [
          "env",
          {
            "modules": "commonjs",
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    }
  }
}
