version: 2.1

orbs:
  cypress: cypress-io/cypress@1.19.1
  node: circleci/node@2.0.2

executors:
  cypress-on-node-12:
    docker:
      - image: 'cypress/base:12.16.1'

use-node-executor: &use-node-executor
  executor:
    name: 'node/default'
    tag: '12.16.1'

jobs:
  test:
    <<: *use-node-executor
    steps:
      - attach_workspace:
          at: ~/
      - run: yarn validate
      - run: yarn test:coverage
      - run: yarn codecov
      - store_artifacts:
          path: dist/browser
          destination: dist/browser
      - store_artifacts:
          path: dist/cjs
          destination: dist/cjs
      - store_artifacts:
          path: dist/esm
          destination: dist/esm
  release:
    <<: *use-node-executor
    steps:
      - attach_workspace:
          at: ~/
      - run: yarn semantic-release

workflows:
  test_and_release:
    jobs:
      - cypress/run:
          executor: cypress-on-node-12
          yarn: true
          start: yarn start-test-server
          wait-on: '--timeout 20000 http://localhost:5000'
      - test:
          requires:
            - cypress/run
      - release:
          requires:
            - test
          filters:
            branches:
              only: master
