version: 2.1

orbs:
  cypress: cypress-io/cypress@1.15.0
  node: circleci/node@1.1.6

executors:
  cypress-on-node-12:
    docker:
      - image: 'cypress/base:12.16.0'
  node-lts:
    docker:
      - image: 'node:lts'

jobs:
  test:
    executor: node-lts
    steps:
      - attach_workspace:
          at: ~/
      - run: yarn validate
      - run: yarn test --coverage --no-cache
      - run: yarn codecov
      - store_artifacts:
          path: lib
          destination: lib
      - store_artifacts:
          path: es
          destination: es
      - store_artifacts:
          path: dist
          destination: dist
  release:
    executor: node-lts
    steps:
      - attach_workspace:
          at: ~/
      - run: yarn semantic-release

workflows:
  test_and_release:
    jobs:
      - cypress/run:
          executor: cypress-on-node-12
          yarn: true
          start: yarn start-test-server
          wait-on: '--timeout 20000 http://localhost:5000'
      - test:
          requires:
            - cypress/run
      - release:
          requires:
            - test
          filters:
            branches:
              only: master
