version: 2.1

orbs:
  cypress: cypress-io/cypress@1.24.0

jobs:
  codechecks:
    executor: cypress/base-12-16-1
    steps:
      - attach_workspace:
          at: ~/
      # ~/.ssh is not persisted after cypress/run, so we have to recreate the
      # known_hosts file manually
      - run: mkdir ~/.ssh && ssh-keyscan github.com >> ~/.ssh/known_hosts
      - run: yarn codechecks
  test:
    executor: cypress/base-12-16-1
    steps:
      - attach_workspace:
          at: ~/
      - run: yarn validate
      - run: yarn test:coverage
      - run: yarn codecov
      - store_artifacts:
          path: dist
          destination: dist
  release:
    executor: cypress/base-12-16-1
    steps:
      - attach_workspace:
          at: ~/
      - run: yarn semantic-release

workflows:
  test_and_release:
    jobs:
      - cypress/run:
          executor: cypress/base-12-16-1
          yarn: true
          start: yarn start-test-server
          wait-on: '--timeout 20000 http://localhost:5000'
      - codechecks:
          requires:
            - cypress/run
      - test:
          requires:
            - cypress/run
      - release:
          requires:
            - codechecks
            - test
          filters:
            branches:
              only: master
