name: Push

on:
  push:
    branches:
      - dev

jobs:
  bundlewatch:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: npm install
      - uses: jackyef/bundlewatch-gh-action@0.2.0
        with:
          branch-base: dev
          bundlewatch-config: .bundlewatch.config.js
          bundlewatch-github-token: ${{ secrets.BUNDLEWATCH_GITHUB_TOKEN }}
